*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background: url(https://img.lovepik.com/photo/48017/2818.jpg_wh860.jpg) center center;
    background-size: cover;

}
.overlay{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color:rgba(0,0,0,0.7);
   
}
.title{
    margin-top: 30px;
    color: white;
    font-size: 5rem;
   
}
.title2{
    margin-top: 30px;
    color: white;
    font-size: 3rem;
}
.col{
    width: 1000px;
    margin: 50px auto;
    box-sizing: border-box;
    display: flex;
   
    justify-content: center;
}
.col div{
    text-align: center;
    width: 250px;
    color: aliceblue;
    font-size: x-large;
}
input{
    height: 60px;
    width: 60%;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.896);
    text-align: center;
    font-size: 50px;
    color: black;
}